.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 0;
}

.logoHeader {
    height: 68px;
}

.nav {
  display: flex;
  gap: 32px;
}

.link {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

.active {
  text-decoration: underline;
}

.headerContent {
  width: 100%;
  max-width: 1240px;
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* ----------------------------------Code responsive---------------------------------- */
@media (max-width: 768px) {
  .header {
    flex-direction: row;
    gap: 1rem;
    padding: 20px;
  }

  .nav {
    flex-direction: row;
    gap: 1.5rem;
  }

  .link {
    font-size: 12px;
    text-transform: uppercase;
  }

  .logoHeader {
    height: 35px;
  }

}

@media (max-width: 370px) {
  .nav {
    gap: 17px;
  }

  .link {
    font-size: 11px;
  }

  .logoHeader {
    height: 28px;
  }
}
