.galleryLoading {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FF6060;
    font-size: 40px;
    font-weight: 700;
    height: 200px;
}

.containerGallery {
    background-color: #F6F6F6;
    border-radius: 25px;
    /* padding: 50px; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 50px;
    width: 100%;
    max-width: 1240px;
    margin: 0 auto 50px auto;
    box-sizing: border-box;
}

/* ----------------------------------Code responsive---------------------------------- */
@media (max-width: 768px) {
  .containerGallery {
    background-color: #FFFFFF;
    grid-template-columns: 1fr;
    padding-bottom: 27px;
    margin: 0;
    gap: 20px;
  }
}