body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

html, body, #root {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.dropdown-about {
  border-radius: 5px;
}

.dropdown-logement {
  border-radius: 10px;
}
